/*** GENERAL (Universal) DOCUMENT STYLE**/
a
{
    text-decoration: none;
}

/** Fixing the viewport */
html 
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body
{
    flex-grow: 1;
}

/** Main Menu*/
.main-menu
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu-sm /**! This element is not displayed in large viewports*/
{
    display: none;
}
.primary-hyperlink:link /*^ Unvisited link*/
{
    text-decoration-line: none;
    color:deepskyblue;
    background-color: lightblue;
    border-style: solid;
    border-width: thin;
    border-radius: 10%;
    border-color: darkblue;
    margin: 4px;
}
.primary-hyperlink:visited /*^ Visited link*/
{
    text-decoration-line: none;
    color: dodgerblue;
    background-color: lightblue;
    border-style: solid;
    border-width: thin;
    border-radius: 10%;
    border-color: darkblue;
    margin: 4%;
}
.primary-hyperlink:hover /*^ Pointer over link*/
{
    text-decoration-line: underline overline;
    background-color: white;
    border-radius: 10%;
}
.primary-hyperlink:active /*^ On Click Event link*/
{
    text-decoration-line: none;
}
/**TODO: Sidebar Navigation*/
#sidebar-hamburguer
{
    margin-left: 0px;
    top: 1px;
    position: absolute;
}
.closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar-extlogo
{
    height: 20px;
    width: 30px;
}
.sidebar-training
{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar-training a
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    font-size: 25px;
    display: block;
}
.sidebar-training a:hover
{
    color: #f1f1f1;
}
/** Main Document Content 👇🏻**/
.main-content
{
    margin-left: 155px; /* Same as the width of the sidenav*/
}

#main-header /* Main header*/
{
    text-align: center;
    border-style: ridge;
    border-color: aqua;
    border-left: none;
    border-right: none;
}
h5, .descriptionSlice
{
    text-align: center;
}
 /**! Containers 👇🏻*/
#uav-operations, #python, #artificialIntelligence, #webDev, #computerNetworks
{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin: auto;
    display: none; /** Containers not displayed by default renderization*/
}
 /**! Containers 👆🏻*/

 embed
 {
    width: 100%;
    height: 100%;
 }
 figure
 {
    margin-left: 0px;
    margin-right: 0px;
 }
 .logicalTopology
 {
    margin: auto;
    width: 50%;
    margin-bottom: 0px;
 }
.netDescription
{
    color: #818181;
    text-align: center;
    font-size: small;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.netEmphasis
{
    color: black;
}
.carousel-img
{
    width: 100%;
    height: 500px;
    vertical-align: middle;
    z-index: 1;
}
.codeVar
{
    color: #a6e22e;
}
.gist .blob-code-inner
{
    height: 50%;
}
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover
{
    background-color: #f1f1f1;
    color: black;
}

.portfolioP
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
/** Default Portfolio Document Main Content 👇🏻*/

/*^ Tech Summary*/

#summaryCol1a, #summaryCol2a
{
    text-align: center;
}
.summaryFrontEnd, .summaryBackEnd
{
    border-style: groove;
    width: 50%;
}

/** Default Portfolio Document Main Content 👆🏻*/

/**TODO: footer */
.document-footer /* footer */
{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: antiquewhite;
}
.site-about
{
    text-align: center;
}
.contact-me /* Container of the external links*/
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-brand
{
    height: 17px;
    width: 45px;
    margin-right: 10px;
}
#copyrigth
{
    text-align: center;
}
.audioButtons
{
    margin: auto;
    display: block;
    text-align: center;
}
.backgroundAudio
{
    border-radius: 1px;
    border-color:lightblue;
    margin-right: 10px;
}

/*! Gist scripts overriden styles 👇🏻*/
body .gist .gist-file
{
    border: 1px dashed #adb5bd;
}
body .gist .gist-data
{
    background-color: #f1f3f5;
}
body .gist .gist-meta
{
    display: none;
}
body .gist .highlight 
{
    background: #272822;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-stj 
{
    color: #f8f8f2;
}
body .gist .pl-c1
 {
    color: #ae81ff;
}
body .gist .pl-enti 
{
    color: #a6e22e;
    font-weight: 700;
}
body .gist .pl-st
 {
    color: #66d9ef;
}
body .gist .pl-mdr 
{
    color: #66d9ef;
    font-weight: 400;
}
body .gist .pl-ms1 
{
    background: #fd971f;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc 
{
    color: #75715e;
    font-style: italic;
}
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-mp .pl-s3,
body .gist .pl-smi,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu 
{
    color: #66d9ef;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1,
body .gist .pl-sol
 {
    color: #e6db74;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo
{
    color: #a6e22e;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-smc,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre
{
    color: #f92672;
}
body .gist .pl-mb,
body .gist .pl-pdb 
{
    color: #e6db74;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi 
{
    color: #f92672;
    font-style: italic;
}
body .gist .pl-pdc1,
body .gist .pl-scp 
{
    color: #ae81ff;
}
body .gist .pl-sc,
body .gist .pl-sf,
body .gist .pl-mo,
body .gist .pl-entl 
{
    color: #fd971f;
}
body .gist .pl-mi1,
body .gist .pl-mdht
{
    color: #a6e22e;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf 
{
    color: #f92672;
    background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi 
{
    color: #a6e22e;
    font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu
{
    background: #a6e22e;
    color: #272822;
}

@media all and (min-width: 351px) and (max-width: 499px) /**& Query for mobile phone devices viewport*/
{
    #sidebar-hamburguer
    {
        position: absolute;
        top: 1px;
        margin-left: 0px;
    }
    .sidebar-training
    {
        width: 180px;
    }
    .main-menu .menu
    {
        display: none; /**! The main menu is not displayed to the user.*/
    }
    .main-menu-sm
    {
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-width: thin;
        border-color: dodgerblue;
        border-right: none;
        border-left: none;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    .main-menu-sm .primary-hyperlink
    {
        width: 20%;
        font-size: x-small;
        border-style: none;
        margin: 5px;
        background-color: #111;
        border: none;
        padding: 0px; 
    }
    #contactLink
    {
        display: none;
    }
    .main-content
    {
        margin-left: 180px
    }
    .portfolio-header
    {
        text-align: center;
        font-size: medium;
        background-color: lightblue;
        width: 100%;
        color: #818181;
    }
    .prev, .next
    {
        cursor: pointer;
        position: absolute;
        top: 25%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .carousel-img
    {
        height: 160px;
        width: 100%;
    }
    .prev:hover, .next:hover
    {
        background-color: #f1f1f1;
        color: black;
    }
    .pythonCode
    {
        width: 100%;
        vertical-align: middle;
    } 
    body .gist .gist-file
    {
        border: 1px dashed #adb5bd;
        width: 100%;
        height: 50%;
    }
   .logicalTopology
   {
        margin: auto;
        width: 100%;
        margin-bottom: 0px;
   }
   .netDesign
   {
        display: block;
        width: 100%;
        
   }
}